<mat-toolbar class="toolbar" [class.has-nav-links]="showNavLinks" *ngIf="showNavbar">
  <button mat-icon-button (click)="toggleMenu()" class="mobile-menu-button">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  <a routerLink="/" class="logo">
    <img [src]="logoPath" alt="Logo MDD">
  </a>

  <nav class="nav-links" *ngIf="showNavLinks && isLoggedIn()" [class.open]="isMenuOpen">
    <div class="nav-top">
      <a mat-button class="btn-logout" (click)="logout()">Se déconnecter</a>
      <a mat-button routerLink="/articles" (click)="closeMenu()">Articles</a>
      <a mat-button routerLink="/themes" (click)="closeMenu()">Thèmes</a>
    </div>
    <div class="nav-bottom">
      <a mat-button routerLink="/profil" (click)="closeMenu()">
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>
  </nav>
</mat-toolbar>
