<div class="auth-container">
  <div class="header">
    <h1>Profil utilisateur</h1>
  </div>

  <div *ngIf="user" class="form-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-fields">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput formControlName="username" [class.mat-form-field-invalid]="usernameError"/>
          <mat-error>{{ usernameError }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Adresse email</mat-label>
          <input matInput type="email" formControlName="email" [class.mat-form-field-invalid]="emailError"/>
          <mat-error>{{ emailError }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput type="password"
                 formControlName="password"
                 placeholder="Saisissez un nouveau mot de passe"
                 autocomplete="new-password"
                 readonly
                 onfocus="this.removeAttribute('readonly');"
                 (focus)="onPasswordFocus()"
          />
        </mat-form-field>
      </div>

      <div *ngIf="successMessage" class="success-container">
        <div class="success-message">{{ successMessage }}</div>
      </div>

      <div *ngIf="error" class="error-container">
        <mat-error>{{ error }}</mat-error>
      </div>

      <div class="form-button">
        <button mat-flat-button color="primary" type="submit">
          Sauvegarder
        </button>
      </div>
    </form>
  </div>

  <hr *ngIf="user"/>

  <div *ngIf="user">
    <div class="section-title">
      <h2>Abonnements</h2>
    </div>

    <div *ngIf="!user.themes || user.themes.length === 0" class="no-themes">
      <p>Vous n'êtes abonné à aucun thème.</p>
    </div>

    <div *ngIf="user.themes && user.themes.length > 0" class="cards-grid">
      <mat-card *ngFor="let theme of user.themes" class="article-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ theme.title }}</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="ellipsis-multiline" [title]="theme.content">
          {{ theme.content }}
        </mat-card-content>
        <div class="form-button">
          <button mat-flat-button color="warn" (click)="unsubscribeFromTheme(theme.id)">
            Se désabonner
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
