<div class="auth-container">
  <div class="header">
    <h1>Profil utilisateur</h1>
  </div>

  <div class="form-container">
    <form>
      <div class="form-fields">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput required/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>email@email.fr</mat-label>
          <input matInput required/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" required/>
        </mat-form-field>
      </div>

      <div class="form-button">
        <button mat-flat-button color="primary">
          Sauvegarder
        </button>
      </div>
    </form>
  </div>

  <hr/>

  <div class="section-title">
    <h2>Abonnements</h2>
  </div>

  <div class="cards-grid">
    <mat-card class="article-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Titre du thème</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content
        class="ellipsis-multiline"
        title="Dans un petit village niché au creux des montagnes..."
      >
        Dans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemment
      </mat-card-content>
      <div class="form-button">
        <button mat-flat-button color="primary">Se désabonner</button>
      </div>
    </mat-card>

    <mat-card class="article-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Titre de l'article</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="ellipsis-multiline" title="Dans un petit village niché au creux des montagnes...">
        Dans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemmentDans un petit village niché au creux des montagnes, le temps semblait
        s'écouler différemment
      </mat-card-content>
      <div class="form-button">
        <button mat-flat-button color="primary">Se désabonner</button>
      </div>
    </mat-card>

  </div>
</div>
