<div class="auth-container">
  <div class="header">
    <div class="arrow-container">
      <button mat-icon-button routerLink="/articles" class="back-button">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <h1>Créer un nouvel article</h1>

    <div class="empty-balise"></div>
  </div>

  <div class="form-container">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div class="form-fields">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sélectionner un thème</mat-label>
          <mat-select formControlName="themeId" required>
            <mat-option *ngFor="let theme of themes" [value]="theme.id">
              {{ theme.title }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="themeId?.hasError('required')">
            Veuillez sélectionner un thème
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Titre de l'article</mat-label>
          <input matInput formControlName="title" required />
          <mat-error *ngIf="title?.hasError('required')">
            Le titre est requis
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contenu de l'article</mat-label>
          <textarea matInput formControlName="content" required rows="8"></textarea>
          <mat-error *ngIf="content?.hasError('required')">
            Le contenu est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-button">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="articleForm.invalid">
          Créer
        </button>
      </div>
    </form>
  </div>
</div>
