<div class="cards-grid" style="margin-top: 10px">
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
       S'abonner
      </button>
      <button mat-flat-button class="subscribe-none">
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Titre de l'article</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline"  title="Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.">
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
      Dans un petit village niché au creux des montagnes, le temps semblait s'écouler différemment. Les habitants vivaient au rythme des saisons, entre traditions ancestrales et récits transmis de génération en génération. Chaque matin, le chant des oiseaux réveillait les toits de pierre couverts de mousse, et les ruisseaux, scintillants sous la lumière dorée, serpentaient paisiblement à travers les prairies. Les enfants couraient pieds nus dans les champs, le visage illuminé de joie, tandis que les anciens racontaient des légendes autour du feu. Ce lieu, empreint de simplicité et de poésie, paraissait figé hors du monde, comme un secret bien gardé.
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" >
        Déjà abonné
      </button>
    </div>
  </mat-card>
</div>
