<div class="cards-grid" style="margin-top: 10px">
  <mat-card class="article-card" *ngFor="let theme of themes">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ theme.title }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="ellipsis-multiline" [title]="theme.content">
      {{ theme.content }}
    </mat-card-content>
    <div class="container-button">
      <button mat-flat-button color="primary" class="full-width" *ngIf="!theme.isSubscribed" (click)="subscribeToTheme(theme.id)">
        S'abonner
      </button>
      <button mat-flat-button class="subscribe-none" *ngIf="theme.isSubscribed" [disabled]="true">
      Déjà abonné
      </button>
    </div>
  </mat-card>
</div>
